#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
			display-name = "Default Layer";
            bindings = <
                &kp TAB    &kp Q    &kp W  &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I     &kp O    &kp P    &kp BSPC
                &kp ESC    &kp A    &kp S  &kp D    &kp F    &kp G        &kp H    &kp J    &kp K     &kp L    &kp SEMI &kp ENTER
                &kp LSHIFT &kp Z    &kp X  &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT  &kp FSLH &kp RSHIFT
                                           &kp K  &kp Q    &kp Q    &mo 1       &kp Q    &kp Q    &kp K     &kp Q
                                     &out OUT_BLE &kp Q    &kp Q    &mo 1       &mo 1    &kp Q    &kp K     &kp Q
            >;
        };

		// Add new empty, reserved layers here
        new_layer_2 {
			display-name = "ZMK Commands Layer";
            bindings = <
                &out OUT_USB     &out OUT_BLE  &kp W           &kp E        &kp R        &kp T               &kp Y    &kp U    &kp I     &kp O    &kp P    &kp BSPC
                &bt BT_CLR       &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4        &kp H    &kp J    &kp K     &kp L    &kp SEMI &kp ENTER
                &bt BT_CLR_ALL   &kp Z         &kp X           &kp C       &sys_reset    &bootloader         &bootloader    &sys_reset    &kp COMMA &kp DOT  &kp FSLH &kp RSHIFT
                                               &studio_unlock  &kp Q        &kp Q        &kp K               &kp Q    &kp Q    &kp K     &kp Q
                                               &out OUT_BLE    &kp Q        &kp Q        &kp K               &kp Q    &kp Q    &kp K     &kp Q
            >;
        };
        new_layer_3 {
            status = "reserved";
        };
		new_layer_4 {
            status = "reserved";
        };
		new_layer_5 {
            status = "reserved";
        };
    };
 };
